[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.23.5"
datetime = "==5.1"
pygame = "==2.5.0"
astropy = "==5.2.2"
sunpy = "==4.1.5"
numba = "==0.57.1"

[dev-packages]

[requires]
python_version = "3.10"
